JWT_SECRET=secret
API_KEY=x-api-key

GEOIP_DB_PATH=database/GeoLite2-City.mmdb

ADDR=:8080

METRICS_USER=admin
METRICS_PASSWORD=password

LOGGER_UDP=

# Database
POSTGRES_DB=traffic_analytics
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Ports
APP_PORT=8080
FRONTEND_PORT=80
DB_PORT=5432
